extends layout

block content

  header#header.header

    nav#headermenu.headermenu

      ul#headermenulist.headermenulist

        li#headermenulistitem2.headermenulistitem

          h1 Run

          ul#headermenulistitem2list.headermenulistitemlist

            li#headermenulistitem2listitem1.headermenulistitemlistitem

              h2 Run

    nav#headerinfo.headerinfo

      ul#headerinfolist.headerinfolist

        li#headerinfolistitem1.headerinfolistitem

          h4#headerinfolistitem1text

  div.padding

  section#browser.browser

    nav#browsermenu.browsermenu

      ul#browsermenulist.browsermenulist

        li#browsermenulistitem1.browsermenulistitem

          h2#userconfigurations.browsermenulistitemh2 Request Parameters

          article#userconfigurations.browsermenulistitemarticle

            label Environment

            input#environment.browsermenulistiteminput.hastip(type="url", required="required",  title="Environment URL")

  section#homepage.homepage
    h2#homepage.homepageh2 Homepage

    article#homepage.hastip(title="")

      ul#datetimelist.browsermenulistitemworktypelist

  div.splitter

  footer#footer.footer
    noscript
      h5 Please activate javascript and refresh the page.

  img#poweredby.image(src="common/images/logotype-poweredby.png")

  div#spinner.spinner
    div.bar1
    div.bar2
    div.bar3
    div.bar4
    div.bar5
    div.bar6
    div.bar7
    div.bar8
    div.bar9
    div.bar10
    div.bar11
    div.bar12
  
  script(type="text/javascript", src="common/javascripts/date.js")

  script(type="text/javascript", src="common/javascripts/jquery-1.7.1.min.js")

  script(type="text/javascript", src="common/javascripts/jquery-ui-1.8.20.custom.min.js")

  script(type="text/javascript", src="common/javascripts/jquery.tools.min.js")
 
  script(type="text/javascript", src="common/javascripts/jquery.blockUI.js")

  script(type="text/javascript", src="common/javascripts/script.js")

  script(type="text/javascript", src="now/javascripts/script.js")

